.chat {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 50px);
  width: 100%;
}

.main {
  display: flex;
  flex-flow: column;
  flex: 1 0;
}

.sidebar {
  display: flex;
  flex-direction: column;

  max-width: 200px;
  z-index: 1;
  right: 0;
  overflow-x: hidden;
}

.sidebar > div:last-child {
  text-align: center;
  cursor: pointer;
}

.usersContainer {
  padding: 0px 5px;
  user-select: none;
}

.usersContainer > div:first-child {
  margin-top: 5px;
}

.usersContainer > div {
  cursor: pointer;
}

.spacer {
  flex: 1 1;
}

.new {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 5px;
  width: 140px;
  text-align: center;
}

.new > input {
  text-align: center;
}

.group {
  padding: 15px;
  cursor: pointer;
  user-select: none;

  transition: width 0.5s, height 0.5s, ease-in 0.5s;
}

.group > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.group:hover {
  background-color: var(--hoover-color);
}

.activeSidebarItem {
  color: black;
  background-color: var(--primary-color);
}

.activeSidebarItem:hover {
  background-color: var(--primary-color);
}

.unread {
  color: var(--text-color);
}

.header {
  display: flex;
  justify-content: center;

  font-weight: bold;
  font-size: 18px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.messages {
  display: flex;
  flex-flow: column;
  overflow-wrap: break-word;
  padding: 5px 0px;

  overflow-x: none;
  overflow-y: auto;
  flex: 1 0 200px;
}

.chatInput {
  display: flex;
  align-items: center;
  padding: 4px 0px;
}

.chatInput > input {
  padding: 2px;
  height: 30px;
  margin: 0px 5px;
}

.messageContainer {
  display: flex;

  margin: 2px 10px;
}

.messageContainer img {
  max-width: 150px;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.ownMsg {
  align-self: flex-end;
  justify-content: flex-end;
}

.ownMsg > * {
  background-color: #99f;
}

.partnerMsg > * {
  background-color: var(--primary-color);
}

.unreadMarker {
  align-self: flex-end;
  justify-content: flex-end;
  font-size: 14px;
  padding: 0px 5px;
  font-style: italic;
}

.newMarker {
  font-size: 14px;
  padding: 0px 5px;
  font-style: italic;
}

.messageEntry {
  padding: 5px 8px;
  border-radius: 4px;
  color: black;
  max-width: 400px;
  white-space: pre-wrap;
}

.sendButton {
  width: 90px;
  padding: 4px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.home input {
  text-align: center;
  width: 300px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loadMore {
  user-select: none;
  margin: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadMoreActive:hover {
  background-color: var(--hoover-color);
  border-radius: 3px;
  cursor: pointer;
}

.file {
  font-size: 34px;
  margin: 0px 5px;
  cursor: pointer;
}

.msgInput {
  resize: vertical;
  padding: 10px;
  height: 40px;
}
