.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.contactsContainer {
  margin: 5px;
  max-width: 900px;
}

.contactsContainer > * {
  text-decoration: none;
  color: gainsboro;
  padding-top: 10px;
  display: flex;
}

.contactsContainer > * > * {
  padding: 5px;
}

.contactsContainer > * > *:nth-child(1) {
  flex: 1;
}

.contactsContainer > * > *:nth-child(2) {
  flex: 0 150px;
}

.text {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding-top: 8px;
}

.text > div:nth-child(1) {
  font-size: 20px;
  color: var(--text-color);
}

.contactTable {
  border-spacing: 15px;
}
