.topMsg {
  text-align: center;
  font-size: 18px;

  border: 2px dashed var(--text-color);
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 18px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.title {
  color: var(--text-color);
  font-size: 32px;
  text-align: center;
  letter-spacing: 2.5px;
}
