.container {
    padding: 10px;
}

.infoRow {
    display: flex;
    padding-bottom: 2px;
}

.infoRow > * {
    padding: 0px 8px;

}

.infoRow :first-child {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    text-align: end;
    align-items: center;
}

.infoRow :last-child {
    flex: 2;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.peerContainer, .peerHeader {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 5px 10px;
}

.peerContainer {
    color: var(--text-color);
}

.peerContainer > *, .peerHeader > * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-wrap: anywhere;
    padding: 0px 15px;
    flex: 1;
}

.title {
  color: var(--text-color);
  font-size: 20px;
  text-align: center;
}
