.text {
  font-size: 18px;
  color: white;
  padding: 10px;
}

.descrip {
  color: #acabab;
  font-weight: bold;
  padding-top: 4%;
  padding-bottom: 4%;
  font-size: 20px;
}

.pw {
  margin: 10px;
}

.pwContainer {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 24px;
  color: white;
  padding: 20px;
  font-weight: bold;
}

.form {
  margin: 0px;
}

.text span {
  color: var(--text-color);
}
