<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you! - Qmining</title>
    <style>
	@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Overpass+Mono:wght@300;400&display=swap');
        :root{
    --size: 100px;
    --bgcolor: #222426;
    --color: #f2f2f2;
    --shadow: rgba(30,2,5,.2);
    }
    .surface {
        position:absolute;
        top: 50%;
        left: 50%;
        transform-style: preserve-3d;
        transform: translate(-50%,-50%) rotateX(70deg) rotateZ(300deg);
        width: 300px;
        height: 300px;
        animation: rotatingCoin 1s linear infinite;
    }
    .coin,
    .shadow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotateX(30deg);
        width: 100px;
        height: 100px;
        background-image: url('https://i.ya-webdesign.com/images/mario-coin-png-19.png');
        background-position: center;
        background-size: cover;
        background-color: var(--color);
        border-radius: 50%;
    }
    .shadow {
        width: 90px;
        height: 90px;
        transform: translate(-50%,-50%) translateZ(-25px);
        background: linear-gradient(to bottom, rgba(255,255,255,.2) 0%,var(--bgcolor) 35%);
    }


    @keyframes rotatingCoin {
        from {transform: translate(-50%,-50%) rotateX(70deg) rotateZ(0);}
        to   {transform: translate(-50%,-50%)  rotateX(70deg) rotateZ(360deg);}
    }


    html,body{
        height: 95vh;
        overflow: hidden;
    }
    body {
		font-family: 'Kameron', serif;
		font-family: 'Overpass Mono', monospace;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--bgcolor);
		cursor: default;
    }
	#qminer {
		color: #f2cb05;
		
	}
    #text{
		font-weight: 100;
        font-size: 25px;
		color: #f2f2f2;
        text-shadow: 1px 1px 2px black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }
    #backbutton{
        text-decoration: none;
        color: azure;
        cursor: pointer;
        margin: 25px;
        background-color: #f2cb05;
        border-radius: 3px;
        padding: 3px 10px;
		padding-top: 4px;
		transition: width 0.5s, height 0.5s, ease-in 0.5s;
		text-shadow: 1px 1px 2px black;
    }
    #backbutton:hover{
        transition: width 0.5s, height 0.5s, ease-out 0.5s;
		background-color: #96810b;
    }
    .coincontainer {
        position: relative;
        width: 200px;
        height: 200px;
    }
    @media only screen and (max-width: 600px) {
        body {
            flex-direction: column;
        }
    }
    </style>
</head>
<body>
    <div class="coincontainer"><div class="surface">
        <div class="coin"></div>
        <div class="shadow"></div>
    </div></div>
    <center>
    <div id="text"><span>Thanks for the gold, kind <span id="qminer"><b>question miner</b></span>!</span><a id="backbutton" href="<%= siteurl %>">Return</a></div>
    </center>
    <div class="coincontainer"><div class="surface">
        <div class="coin"></div>
        <div class="shadow"></div>
    </div></div>
</body>
</html>
