.tableContainer {
  user-select: none;
  display: flex;
  flex-flow: column;
}

.tableContainer > div {
  padding: 5px 5px;
  display: flex;
  align-items: stretch;
}

.tableContainer > div > div {
  padding: 5px;
}

.tableContainer > div > div:nth-child(1) {
  flex: 1 0 100px;
}

.tableContainer > div > div:nth-child(2) {
  flex: 0 200px;
}
.tableContainer > div > div:nth-child(3) {
  flex: 0 90px;
}

.tableContainer > div > div:nth-child(4) {
  flex: 0 100px;
}

.tableContainer > div > div:nth-child(5) {
  flex: 0 110px;
}

.tableContainer > div > div:nth-child(6) {
  flex: 0 100px;
}

.rows > div {
  word-wrap: anywhere;
  cursor: pointer;
  align-items: center;
}

.rows > div:nth-child(2n + 1) {
  background-color: var(--dark-color);
}

.rows > div:hover {
  background-color: var(--hoover-color);
}

.header > div > div {
  color: var(--text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: var(--background-color);
}

.header > div > div:hover {
  background-color: var(--hoover-color);
}

@media screen and (max-width: 700px) {
  .header > div > div {
    height: 100px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
  }
}

.uploadContainer > div {
  padding: 5px;
  text-align: center;
}

.deleteButton {
  text-align: center;
  padding: 2px;
  border: 1px solid var(--hoover-color);
  border-radius: 3px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: var(--dark-color);
}

.newButton {
  width: 35%;
}

.description {
  padding: 5px;
  text-align: center;
}

.description > b {
  color: red;
}

.currDir {
  color: var(--text-color);
  text-align: center;
  font-size: 20px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title > div:nth-child(1) {
  padding: 0px 16px;
}

.title > div:nth-child(2) {
  flex: 1;
}
