.container {
  display: flex;
  flex-flow: column;
  margin: 5px;
}

.container > input,
.container > textarea {
  margin: 5px 0px;
  padding: 4px;
  border-color: #5d5f61;
  background-color: #1f2021;
  border-radius: 5px;
  font-size: 15px;
}

.container > textarea {
  margin-left: 1px;
  width: 99%;
  resize: vertical;
  height: 200px;
}

.typeSelector {
  display: inline-flex;
  text-align: center;
  margin-left: 6px;
}

.typeSelector > div {
  display: flex;
}

.tip {
  font-size: 11px;
  font-style: italic;
  text-align: center;
  margin: 15px 0px 2px 2px;
}

.new {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  height: 19px;
  width: 30%;
  display: flex;
  background-color: var(--hoover-color);
  border: none;
  color: var(--text-color);
  padding: 10px;
  font-size: 15px;
  margin: 8px;
  cursor: pointer;
  text-shadow: 1px 1px 8px black;
  transition: width 0.5s, height 0.5s, ease-in 0.5s;
  text-align: center;
  text-decoration: none;
}

.new:hover {
  text-shadow: 2px 2px 8px black;
  transition: width 0.5s, height 0.5s, ease-out 0.5s;
  background-color: var(--text-color);
  font-weight: bold;
  color: black;
}

.composerAction {
  justify-content: center;
}

.composerAction > span:hover {
  background-color: var(--hoover-color);
  transition: width 0.5s, height 0.5s, ease-out 0.5s;
  color: var(--text-color);
  text-shadow: 2px 1.5px 10px black;
}
