.container {
  display: flex;
  flex-flow: column;
  margin-top: 8px;
  margin-bottom: 0px;
  margin-right: 22%;
  margin-left: 22%;
  padding: 5px;
}

.listItem {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 3px;
  cursor: pointer;
  color: #a1a1a1;
  transition: width 0.5s, height 0.5s, ease-in 0.5s;
}

.listItem:hover {
  background-color: var(--hoover-color);
  transition: width 0.5s, height 0.5s, ease-out 0.5s;
  text-shadow: 2px 1.5px 10px black;
  color: var(--text-color);
}

.text {
  text-align: center;
  color: gainsboro;
}
