.contactFeedback {
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 14px;
  box-sizing: border-box;
  height: 150px;
  resize: none;
  margin-top: 15px;
  padding: 5px;
}

.send {
  width: 20%;
}

.inputArea {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.inputArea > * {
  padding: 5px 0px;
}

.fileContainer {
  display: flex;
  justify-content: center;
  margin: 5px;
}
