.hr {
  width: 100%;
}

.motd {
  text-align: center;
  font-size: 20px;

  border: 2px dashed var(--text-color);
  padding-top: 13px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 18px;
  margin-bottom: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.itemContainer {
  width: 100%;
  margin: 20px 5px;
  background-color: var(--hoover-color);
}

.newsBody {
  margin: 0px 5px;
  padding: 10px 14px;
  font-size: 17px;
  color: #fff;
  text-align: justify;
}

.title {
  color: var(--text-color);
  font-size: 32px;
  text-align: center;
  letter-spacing: 2.5px;
}

.subtitle {
  color: var(--text-color);
  font-size: 20px;
  text-align: center;
}

.newsTitle {
  color: var(--text-color);
  font-size: 28px;
  padding-left: 17px;
}

.question {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  margin: 0px 5px;
}

.answer {
  margin: 0px 5px;
}

.itemNumber {
  color: #a7a7a7;
  margin: 0px 5px;
  font-size: 22px;
  padding-top: 12px;
  padding-left: 13px;
  padding-bottom: 3px;
}

.repos {
  display: flex;
  flex-direction: column;
}

.loadMoreButton {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--dark-color);
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 10px;

  height: 50px;

  cursor: pointer;
}

.loadMoreButton:hover {
  background-color: var(--hoover-color);
}
