.topBar {
  display: flex;
  align-items: center;
  position: fixed;
  background-color: var(--background-color);
  z-index: 2;
  width: 100%;
  max-width: 1200px;
  border-bottom: 1px solid var(--primary-color);
  box-shadow: 0px 3px 3px -3px var(--primary-color);

  height: 45px;
}

.topBar img {
  display: block;
  max-height: 45px;
  width: auto;
  height: auto;
  border: none;
  margin: 0px 15px;
}
@media screen and (max-width: 700px) {
  .topBar img {
    display: none;
  }

  .topBarLinks > *:nth-child(1) {
    display: none;
  }
  .topBarLinks > *:nth-child(3) {
    display: none;
  }
}

.topBarLinks {
  display: flex;
  align-items: stretch;
  word-wrap: break-word;
}

.topBarLinks > * {
  display: flex;
  align-items: center;

  border: 1px solid transparent;
  text-align: center;
  padding: 0px 8px;
  margin: 0px 2px;
  text-decoration: none;
  transition: width 0.5s, height 0.5s, ease-in 0.2s;
}

.topBarLinks > *:hover {
  background-color: var(--hoover-color);
  border-radius: 5px;
}

.topBarLinks a.active {
  background-color: var(--hoover-color);
  border-radius: 5px;
}

.sidebar {
  top: 45px;
  display: flex;
  flex-direction: column;

  width: 180px;
  position: fixed;
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: 1px solid var(--primary-color);
    box-shadow: 0px 3px 3px -3px var(--primary-color);
  }

  .sidebar a {
    text-align: center;
    float: none;
  }
}

.content {
  margin-left: 195px;
  margin-right: 15px;
  margin-top: 45px;
  padding: 1px 0px;
  width: 100%;

  word-wrap: break-word;
}

@media screen and (max-width: 700px) {
  div.content {
    box-sizing: border-box;
    max-width: calc(100vw);
    padding: 1px 10px;
    margin-left: 0;
  }
}

.sidebarLinks > a {
  display: block;
  border: 1px solid transparent;
  text-align: center;
  color: black;
  font-size: 108%;
  padding: 14px;
  margin: 5px 2px;
  text-decoration: none;
  color: var(--bright-color);
  transition: width 0.5s, height 0.5s, ease-in 0.2s;
  cursor: pointer;
}

.sidebarLinks a.active {
  border: 1px solid var(--text-color);
  color: white;
  text-shadow: 2px 2px 8px black;
  font-weight: bold;
}

.sidebarLinks a:hover:not(.active) {
  background-color: var(--text-color);
  color: black;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
  transition: width 0.5s, height 0.5s, ease-out 0.2s;
}

.userStatus {
  display: flex;

  height: 40px;
  margin: 3px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.modalHead {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 20px;
  letter-spacing: 3px;
}

.donateLogoContainer {
  display: flex;
  justify-content: center;
}

.donateLogoContainer img {
  max-width: 100px;
  margin: 5px;
  border-radius: 5px;
}

.menuicon div {
  display: none;
}

@media screen and (max-width: 700px) {
  .menuicon div {
    display: block;
    margin: 6px;
    width: 30px;
    height: 5px;
    background-color: var(--bright-color);
  }

  .menuicon:hover {
    background-color: var(--hoover-color);
  }

  .menuicon {
    cursor: pointer;
    display: inline;
  }
}

.logout {
  margin: 0px 5px;
  padding: 3px;
  cursor: pointer;
  font-size: 15.5px;
}

.logout:hover {
  color: #fff;
}

.userStatus > a {
  text-decoration: none;
  font-size: 27px;
}

.msgs {
  font-size: 15px;
}

.msgs :first-child {
  font-size: 27px;
  margin-left: 4px;
}

.msgs > div {
  padding: 2px 6px;
  font-size: 13.5px;
}

.unreadNotification {
  height: 45px;
}

.unreadNotification > span {
  top: 4px;
  right: -8px;
  display: inline-block;
  position: relative;
}

.unreadNotification > div {
  display: inline-block;
  right: 5px;
  top: 10px;
  position: relative;

  background-color: red;
  font-size: 14px;
  border-radius: 5px;
  padding: 0px 3px;
}

@media screen and (max-width: 700px) {
  .unreadNotification > div {
    top: 10px;
  }
}

.snowToggleButton {
  color: #fcdb8c;
  background-color: #303030;
  z-index: 901;
  position: fixed;
  border-radius: 4px;
  padding: 4px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 50%;
}

.snowToggleButton:hover {
  opacity: 100%;
}
