.modal {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modalContent {
  display: flex;
  max-height: 90%;
  height: auto;
  width: 60%;
  position: fixed;
  background: var(--background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding-top: 38px;
  padding-bottom: 25px;
  padding-right: 14px;
  padding-left: 16px;
  cursor: default;
}

@media screen and (max-width: 700px) {
  .modalContent {
    width: 90%;
  }
}

.close {
  cursor: pointer;
  font-size: 16.5px;
  position: fixed;
  top: 5px;
  right: 10px;
  margin-bottom: 10px;
  text-align: right;
  display: inline;
}

.children {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
