.newsBody {
  margin: 0px 12px;
  color: #fff;
  white-space: pre-line;
  text-align: justify;
}

@media screen and (max-width: 700px) {
  .newsTitle {
    text-align: center;
  }
}

.newsTitle {
  font-size: 25px;
  color: var(--text-color);
  margin: 0px 11px;
  padding-bottom: 10px;
}

.newsDate {
  margin-right: 12px;
  margin-left: 14px;
}

.newsContainer {
  margin: 5px 5px;
}

.adminPost {
  border-left: 4px solid var(--text-color);
}

.userPost {
  border-left: 4px solid azure;
}

.ownPost {
  border-left: 4px dotted azure;
}

.newsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .newsHeader {
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .userinfo {
    flex-flow: row;
  }
}

.userinfo {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.userinfo a {
  white-space: nowrap;
}

.newsRoot {
  background-color: var(--dark-color);
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .newsRoot {
    margin: 5px 0px;
    padding: 10px 2px;
  }
}

.mediaContainer {
  display: flex;
  justify-content: center;
}

.newsContainer img {
  max-height: 700px;
}

.newsContainer video {
  max-width: 500px;
  object-fit: fill;
}
