.subjName {
  font-size: 24px;
  font-weight: 600;
  background-color: var(--text-color);
  color: black;
  margin-top: 25px;
  padding: 10px;
  word-wrap: break-word;
}

.questionBg {
  background-color: #1b1b1c;
  padding-bottom: 5px;
}
