.reactionContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 4px 2px;
}

.reactionContainer > input {
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  border-radius: 3px;
  margin: 2px 5px;
  font-size: 16px;
}

.reactionContainer > div {
  font-size: 23px;
  margin: 2px 2px;
  padding: 2px 9px;
  border: 1px solid #444;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: width 0.5s, height 0.5s, ease-in 0.5s;
}

.reactionContainer > div:hover {
  background-color: var(--hoover-color);
  color: gainsboro;
  transition: width 0.5s, height 0.5s, ease-out 0.5s;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.reacted {
  background-color: var(--text-color);
  color: black;
}

.reacted:hover {
  background-color: #96810b !important;
  color: #42423e !important;
}

.reactContainer {
  display: inline-block;
}

.react_bttn {
  font-size: 15px;
}
