.searchContainer {
  width: 97%;
  display: flex;
  justify-content: center;
  margin-left: 10px;
  padding-top: 10px;
  padding-bottom: 2px;
}

.searchContainer input {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 10px;
}

.clearButton {
  width: 50px;
  background-color: var(--background-color);
  color: white;
  font-size: 18px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
}
