.questionCount {
  justify-content: flex-end;
  white-space: nowrap;
}

.itemName {
  word-wrap: break-word;
}

.container {
    width: 450px
}

.container input {
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 10px;
}

.noResult {
    margin: 5px;
    text-align: center;
}
