.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  position: absolute;

  background-color: var(--background-color);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  z-index: 9999;
  margin-left: -60px;
  transition: opacity 0.3s;

  overflow-y: scroll;
}

.container {
}
