.container {
  display: flex;
  align-items: center;
  padding: 3px;
}

@media screen and (max-width: 700px) {
  .container {
    flex-flow: column;
  }
}

.container > div {
  display: flex;
  align-items: center;
}

.container > div > * {
  padding: 3px;
}

.action {
  border-radius: 3px;
}

.action:hover {
  background-color: #555;
}

.voted {
  color: var(--text-color);
}
