:root {
  --text-color: #f2cb05;
  --primary-color: #f2cb05;
  --primary-color-fade: #3f3503;
  --bright-color: #f2f2f2;
  --background-color: #222426;
  --hoover-color: #393939;
  --dark-color: #191919;
}

@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Overpass+Mono:wght@300;400&display=swap');

html {
  min-height: calc(100vh);
}

body {
  display: flex;
  justify-content: center;

  margin: 0px;
  min-height: calc(100vh);
  font-family: 'Kameron', serif;
  font-family: 'Overpass Mono', monospace;
  color: #999999;
}

#__next {
  display: flex;
  min-height: calc(100vh);
  width: 1200px;
  max-width: 1200px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  background-color: var(--background-color);
  box-shadow: 0px 0px 29px 19px #222426;
}

@media screen and (max-width: 700px) {
  #__next {
    flex-flow: column;
  }
}

img {
  max-width: 90%;
}

.manual_img {
  padding: 2px 2px;
  border: 2px solid white;
}

li {
  padding: 2px 0px;
}

a {
  color: white;
}

a:hover {
  color: #c1c1c1;
}

textarea {
  color: var(--text-color);
  background-color: var(--background-color);
  box-sizing: border-box;
  width: 90%;
  border: 0px solid #666;
  border-radius: 3px;
}

input[type='text'] {
  color: var(--text-color);
  background-color: var(--background-color);
  border: 0px solid #444;
  border-radius: 3px;
  width: 90%;
  font-family: inherit;
  width: 98%;
  padding: 4px;
}

input:focus {
  border: 0px solid #444;
}

.link {
  margin: 10px;
  font-size: 20px;
}

.questionContainer {
  margin: 6px;
  padding: 10px;
}

.questionContainer:hover {
  background-color: #141414;
  color: var(--text-color);
}

.question {
  font-weight: bold;
  font-size: 17px;
  color: gainsboro;
}

.answer {
  font-size: 15px;
}

.data {
  word-wrap: anywhere;
  font-size: 13px;
  color: #a1a1a1;
}

.loadingindicator {
  text-align: center;
  vertical-align: middle;
  color: #fff;
  font-size: 30px;
}

.subjectSelector, .selector {
  overflow: auto;
  height: auto;
  max-height: 150px;
  min-height: 150px;
  margin: 10px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 8px;
  background-color: #141414;
}

.subjItem, .selectorItem {
  font-size: 14px;
  padding: 3px;
  padding-top: 5px;
  margin-top: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.activeSubjItem, .activeSelectorItem {
  background-color: var(--text-color);
  color: black;
}

.subjItem:hover:not(.activeSubjItem), .selectorItem:hover:not(.activeSelectorItem) {
  background-color: #555;
  color: white;
}

.warning {
  color: red;
  font-weight: 100;
  font-size: 17.5px;
}

#manualWarn {
  font-size: 14px;
}

.subtitle {
  color: var(--text-color);
  font-size: 23px;
  text-align: center;
  font-weight: 100;
  margin: 0px;
  padding-top: 8px;
}

.pageHeader {
  background-color: var(--text-color);
  max-width: 100%;
  color: black;
  margin: 5px 0px 0px 0px;
}

.pageHeader > h1 {
  padding-top: 6px;
  letter-spacing: 7px;
  text-align: center;
  margin: 0px;
}

.manualBody {
  text-align: justify;
}

.uid {
  font-size: 14px;
  margin-right: 10px;
}

.actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.actions > span {
  margin: 2px 2px;
  padding: 4px 10px;
  border: 1px solid #444;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  transition: width 0.5s, height 0.5s, ease-in 0.2s;
}

.actions > span:hover {
  background-color: var(--hoover-color);
}

.buttonContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 5px 0px;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .buttonContainer {
    flex-flow: column;
    align-items: center;
  }
}

.buttonContainer > * {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 30px;
  padding: 5px 15px;
  margin: 2px 2px;

  font-size: 15px;
  color: var(--text-color);
  border: none;
  background-color: var(--hoover-color);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  user-select: none;
  text-decoration: none;
  text-shadow: 1px 1px 8px black;
  transition: width 0.5s, height 0.5s, ease-in 0.5s;
}

@media screen and (max-width: 700px) {
  .buttonContainer > * {
    padding: 5px 0px;
    width: 100%;
  }
}

.buttonContainer > *:hover {
  text-shadow: 2px 2px 8px black;
  transition: width 0.5s, height 0.5s, ease-out 0.5s;
  background-color: var(--text-color);
  color: black;
}

.buttonContainer > .activeButton {
  background-color: var(--text-color);
  color: black;
}

select {
  cursor: pointer;
  width: 100%;
  max-width: 100%;
  height: 30px;
}

select:hover {
  border: 1px solid #f2cb05;
}

.checkbContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
}

.checkbContainer > input {
  width: 5%;
  background-color: #9c9c98;
  color: azure;
  font-family: inherit;
  margin-bottom: 5px;
}

.selectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectContainer > select,
.selectContainer > input {
  width: 30%;
  border-radius: 5px;
  border: 1.5px solid white;
  background-color: #9c9c98;
  color: azure;
  font-family: inherit;
  margin: 6px 0px;
}

.selectContainer > select:hover,
.selectContainer > select:active {
  border: 2px solid var(--text-color);
}

.selectContainer > div {
  padding: 0px 5px;
  margin-right: 8px;
}

.description {
  padding-top: 1px;
  padding-bottom: 5px;
  font-size: inherit;
  color: inherit;
  text-align: center;
  margin: 10px;
}

.resultContainer {
  color: gainsboro;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.seperator {
  flex: 1 0;
}

.userId {
  text-decoration: none;
  font-weight: bold;
  color: var(--text-color);
}

.modal-open {
  overflow: hidden;
}
